body {
    margin: 0;
  }

/****************   Nav Section **********************/
nav {
  background-color: gainsboro;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  color: darkcyan;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

nav a {
  color: darkcyan;
  text-decoration: none;
}

nav a:hover {
  color: darkmagenta;
  text-decoration: underline;

}

/***********************  Footer Section   **************************/
footer {
	background-color: gainsboro;
  border-top: 5px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer a {
  color: darkcyan;
  text-decoration: none;
}

footer a:hover {
  color: darkmagenta;
  text-decoration: underline;
}

/*********** Splash Page ************************/
header {
  background-image: linear-gradient(to bottom, gray, white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  background-color: silver;
}

header h1 {
  font-family: "Trirong", serif;
  color: whitesmoke;
}

header img {
  border-radius: 50%;
  border: 5px solid gray;
}

.address {
  color: darkcyan;
  font-family: "Roboto", sans-serif;
}

.tagline {
  color: darkcyan;
  font-family: "Roboto", sans-serif;
}

/************* Sections ********************/

.info {
  background-image: linear-gradient(to bottom, white, lightgray);
  color: darkcyan;
  font-family: "Roboto", sans-serif;
  border-bottom: 5px solid lightgray;
}

section h2 {
  font-family: "Trirong", serif;
  color: darkmagenta;
}

section h3 {
  font-family: "Trirong", serif;
  color: darkmagenta;
}

section dl {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}

section ul {
  list-style-type: square;
  list-style-position: outside;
}

section a {
  color: darkcyan;
  text-decoration: none;
}

section a:hover {
  color: red;
  text-decoration: underline;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
  gap: 1px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card img {
  width: 100%;
  height: 60%;
  border: gray 5px solid;
}

.card {
  background-color: gray;
  font-family: "Roboto", sans-serif;
  color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
  border: black 2px solid;
  width: 90%;
  height: 95%;
}

.projects {
  border-top: 1px solid  lightgray;
  background-image: linear-gradient(to bottom, lightgray, gray);
  padding-left: 15px;
}

.projects h2{
  display: flex;
  justify-content: center;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
  flex-direction: column;
  justify-content: space-between;
    }

    .three-col {
      grid-template-columns: 1fr;
      align-items: center;
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: lightgray;
  color: darkcyan;
}

textarea {
   background-color: lightgray;
   color: darkcyan;
}

.contact {
  background-image: linear-gradient(to bottom, gainsboro, gray);
  padding: 20px;
  color: darkmagenta;
}

.contact h1 {
  font-family: "Trirong", serif;
  color: darkmagenta;
}